{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "70",
          "firefox": "60",
          "safari": "12"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}