@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:wght@900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@font-face {
  font-family: "calistogaregular";
  src: url("assets/fonts/calistoga-regular-webfont.woff2") format("woff2"),
       url("assets/fonts/calistoga-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #264653;
  --green: #2A9D8F;
  --orange: #F4A261;
  --yellow: #E9C46A;
  --purple: #5E4D6A;
  --dark-purple: #564562;
  --apricot: #EAAC8B;
  --brick: #E56B6F;
  --lila: #B56576;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--apricot);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: "calistogaregular", serif;
}

h1 {
  font-size: 64px;
  margin: 0;
}

p {
  line-height: 1.4;
}

input {
  font-family: "calistogaregular", serif;
  font-size: 42px;
  text-align: center;
  width: 100%;
  border: none;
  background: none;
  color: var(--apricot);
  margin-top: 5px;
  &:focus {
    outline: none;
  }
}

#app {
  height: 100%;
}

.full-size {
  height: 100%;
  width: 100%;
}

.text-center {
  text-align: center;
}

.wrapper {
  background: var(--purple);
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.landing-content {
  max-width: 550px;
  text-align: center;
  button {
    margin-top: 30px;
  }
}

.game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.game-header {
  display: flex;
  padding: 1em;
  height: 125px;
  > div {
    flex: 1;
  }
}

.game-visualization {
  background: var(--dark-purple);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.points {
  font-family: "calistogaregular", serif;
  font-size: 48px;
  line-height: 1;
  margin-left: 0.15em;
}

.new-points {
  opacity: 1;
  position: absolute;
  right: 0;
  transform: translateY(80px);
  animation: fade-out 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}

.position-relative {
  position: relative;
}

.margin-bottom {
  margin-bottom: 1em;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(80px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.target {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  background: #4B3C55;
  transition: background 0.25s ease-in-out; 
}

.line {
  position: relative;
  width: 100%;
  height: 2px;
  background: var(--brick);
  .pitch-indicator {
    display: flex;
    position: absolute;
    left: calc(50% - 67px);
    transition: transform 0.05s linear;
    top: -41px;
    transform: scaleX(2) scaleY(0);
    &--active {
      transform: scaleY(1);
    }
  }
}

.list {
  max-height: 300px;
  width: 300px;
  padding: 0 20px;
  overflow: scroll;
  li {
    margin-bottom: 3px;
    &.selected-item {
      font-weight: bold;
      color: var(--brick);
    }
  }
}

.group {
  animation: groupAnimation linear 2s infinite;
}

.group-mic {
  animation: groupAnimation2 linear 1.2s infinite;
}

@keyframes groupAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}

@keyframes groupAnimation2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.button {
  display: inline-block;
  background: var(--dark-purple);
  color: var(--apricot);
  border: 2px solid var(--apricot);
  box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.24);
  padding: 1.2rem 4.5rem;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  &--no-border {
    background: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    font-size: 16px;
    &:hover {
      box-shadow: none !important;
    }
  }
  &:active, &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 11px 11px 0px 0px rgba(0,0,0,0.17);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--apricot);
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-purple) inset;
  transition: background-color 5000s ease-in-out 0s;
}
