@import "./styles/base";
@import "./styles/helpers";
@import "./styles/form";
@import "./styles/typography";
@import "./styles/button";

.page {
  @extend .flex;
  @extend .flex-center;
  @extend .full-size;
  @extend .flex-column;
}

.game-visualization {
  background: var(--dark-purple);
  position: relative;
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
}

.points {
  font-family: "calistogaregular", serif;
  font-size: 48px;
  line-height: 1;
  margin-left: 0.15em;
}

// .list {
//   max-height: 300px;
//   width: 300px;
//   padding: 0 20px;
//   overflow: scroll;
//   list-style-type: decimal;
//   li {
//     margin-bottom: 3px;
//     &.selected-item {
//       font-weight: bold;
//       color: var(--pink);
//     }
//   }
// }
