@use "sass:color";

.pitchle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  @media only screen and (max-width: 767px) {
    display: block;
  }
  &--ended, &--ended .pitchle_content {
    @media only screen and (max-width: 767px) {
      display: flex;
      width: 100%;
      flex-grow: 1;
      .button, .stats, ul {
        width: 100%;
      }
      .button {
        margin: 50px 0;
      }
    }
  }
  &--ended .pitchle_header {
    height: auto;
    min-height: auto;
  }
  &--ended .pitchle_content_inner {
    padding-bottom: 0;
  }
  .button:not(.button--pitchle-main) {
    width: 200px;
    @media only screen and (max-width: 767px) {
      width: 80%;
      padding: 13px 20px;
    }
  }
  p {
    margin: 0 0 20px;
  }
  .button--pitchle-main {
    display: inline-flex;
    justify-content: center;
    svg {
      width: 20px;
      height: 18px;
      margin-left: 10px;
    }
  }
}

.pitchle_header {
  height: 40px;
  min-height: 40px;
  margin-bottom: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 767px) {
    height: 44px;
    min-height: 44px;
    width: 100%;
    margin-top: 0;
  }
}

.pitchle_content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.pitchle_content_inner {
  display: block;
  @media only screen and (max-width: 767px) {
    // width: 100%;
    padding-bottom: 120px;
  }
}

.pitchle_note-buttons {
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.pitchle_controls {
  @media only screen and (min-width: 767px) {
    padding-bottom: 20px;
  }
  @media only screen and (max-width: 767px) {
    padding-bottom: 10px;
    position: absolute;
    bottom: 8px;
    left: 15px;
    right: 15px;
    padding-top: 40px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
  }
}

.text-input-wrapper {
  position: relative;
  width: 54px;
  height: 54px;
  @media only screen and (max-width: 767px) {
    width: calc((100vw - 100px)/5);
    height: calc((100vw - 100px)/5);
    margin-right: 3px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &_inner {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transition-property: transform;
    transition-duration: 0.2s;
    transform-style: preserve-3d;
    &--is-submitted {
      transform: rotateX(180deg);
    }
  }
  &_front {
    color: var(--black);
  }
  &_front, &_back {
    border-radius: 7px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  &_back {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transform: rotateX(180deg);
    background: #DDE3E0;
    color: white;
    border: none;
    &--green {
      background: #28965A;
    }
    &--yellow {
      background: #F4CF66;
    }
  }
}

.text-input {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: 2px solid #D2DAD6;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &--filled {
    background-color:  var(--grey-yellow);
    animation-name: popIn;
    animation-duration: .25s;
    border-color: var(--black);
  }
}

@keyframes popIn {
  0% {
    transform: scale(.8);
    opacity: 0;
  }
  40% {
      transform: scale(1.05);
      opacity: 1;
  }
}

.game-step {
  width: 286px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    width: auto;
    justify-content: center;
  }
  &--small {
    width: 173px;
    margin-bottom: 3px;
    .text-input-wrapper {
      width: 32px;
      height: 32px;
      &_front, &_back {
        border-radius: 4px;
      }
      &_inner {
        transition-duration: 0;
        transition-delay: 0;
      }
    }
    .note {
      font-size: 22px;
      span:last-child {
        font-size: 11px;
      }
    }
  }
}

.note {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  span:last-child {
    font-size: 18px;
  }
}

.note-button {
  font-family: "Poppins", sans-serif;
  background-color: #DDE3E0;
  color: var(--black);
  font-weight: bold;
  border: none;
  height: 42px;
  margin-right: 2px;
  border-radius: 7px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:last-of-type {
    margin-right: 0;
  }
  @media only screen and (max-width: 767px) {
    flex: 1;
    min-width: 0;
  }
  &--note {
    width: 42px;
    font-size: 20px;
    padding: 0;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
    span:last-child {
      font-size: 12px;
      @media only screen and (max-width: 767px) {
        font-size: 9px;
      }
    }
  }
  &--back {
    padding: 0 15px;
  }
  &--submit {
    padding: 0 15px;
    font-weight: bold;
  }
  &:hover:not(:disabled) {
    background-color: color.adjust(#DDE3E0, $lightness: -10%);
  }
  &:active, &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

@for $i from 1 through 5 {
  .text-input-wrapper:nth-of-type(#{$i}) .text-input-wrapper_inner {
    transition-delay: $i * 0.25s - 0.25s;
  }
}

.sine-wave-wrapper {
  width: 200px;
  height: 100%;
  border: 2px solid var(--black);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-grow: 1;
  @media only screen and (max-width: 767px) {
    width: 80%;
  }
}

.header_loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .loader_info {
    width: 470px;
    max-width: calc(100vw - 30px);
    position: absolute;
    top: 30px;
    font-size: 10px;
    text-align: center;
    line-height: 1.1;
  }
}
