@use "./styles/base";
@use "./styles/helpers";
@use "./styles/typography";
@use "./styles/button";

.app-container {
  min-height: 100vh;
  min-height: 100dvh; /* Use dynamic viewport height for mobile browsers */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.points {
  font-family: "Poppins", sans-serif;
  font-size: 2.4em;
  line-height: 1;
  margin-left: 0.15em;
  @media only screen and (max-width: 767px) {
    font-size: 36px;
  }
}

.list {
  max-height: 300px;
  width: 300px;
  padding: 0 20px;
  overflow: scroll;
  list-style-type: decimal;
  li {
    margin-bottom: 3px;
    &.selected-item {
      font-weight: bold;
      color: var(--pink);
    }
  }
}
