@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Playfair+Display:wght@900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.woff") format("woff"),
      url("assets/fonts/Poppins-Regular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.woff") format("woff")
      url("assets/fonts/Poppins-Bold.woff") format("woff2");
  font-weight: bold;
  font-style: bold;
}

:root {
  --grey: #CFDBD5;
  --grey-yellow: #e8eddf;
  --yellow: #F3C33F;
  --dark-yellow: #F2BD2C;
  --black: #333533;
  --dark-black: #242423;
  --blue: #355070;
  --background: ##efefef;
  --dark-purple: #564562;
  --apricot: #EAAC8B;
  --pink: #E56B6F;
  --dark-pink: #B56576;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--grey-yellow);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

#app {
  height: 100%;
}

.wrapper {
  @extend .flex;
  @extend .flex-center;
  background: var(--background);
}

a {
  text-decoration: none;
}

.game-step {
  width: 270px;
  margin-bottom: 10px;
}

@keyframes grow-x {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes shrink-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  transform-origin: center;
}

::view-transition-old(root) {
  animation: 0.3s ease-in-out both shrink-x;
}

::view-transition-new(root) {
  animation: 0.3s ease-in-out both grow-x;
}