.button {
  display: inline-block;
  background: var(--yellow);
  color: #fff;
  border-radius: 50px;
  border: 3px solid var(--dark-black);
  color: var(--dark-black);
  padding: 1rem 4rem;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  &--no-border {
    color: var(--dark-black);
    background: transparent;
    box-shadow: none;
    border: none;
    padding: 0 !important;
    font-size: 16px;
    &:hover {
      background-color: transparent !important;
      text-decoration: underline;
    }
  }
  &--small {
    font-size: .82rem;
    padding: .7rem 1rem;
    border-width: 2px;
  }
  &--secondary {
    background: transparent;
    &:hover {
      background: transparent !important;
    }
  }
  &:active, &:focus {
    outline: none;
  }
  &:hover {
    background-color: var(--dark-yellow);
  }
  &:disabled {
    opacity: 0.5;
  }
}