.page--game {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: hsla(81, 28%, 90%, 1);
  background: linear-gradient(0deg, hsla(81, 28%, 90%, 1) 18%, hsla(89, 39%, 40%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(81, 28%, 90%, 1) 18%, hsla(89, 39%, 40%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(81, 28%, 90%, 1) 18%, hsla(89, 39%, 40%, 1) 100%);
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
  }
}

.content-wrapper {
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // box-shadow: 0 0 17px 0px rgba(0, 0, 0, .25);
  padding: 30px;
  border-radius: 30px;
  border: 3px solid var(--dark-black);
  overflow: overlay;
}

.back-button {
  display: flex !important;
  position: absolute;
  left: 0;
  top: -30px;
  left: 0;
  &:hover {
    text-decoration: none !important;
  }
  span {
    color: var(--dark-black);
    margin-left: 0.3em;
  }
}