.game-visualization {
  background: #efefef;
  position: relative;
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
  width: 100%;
  border-radius: 18px;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0 15px;
}

.radio-group {
  width: 300px;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
  button {
    width: 100%;
    margin-top: 10px;
  }
  input {
    display: none;
  }
  label {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.7em 0;
    margin-bottom: 10px;
    background: #fff;
    border: 3px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
  }
}

input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  border: none;
  background: none;
  color: var(--black);
  padding: 0;
  font-weight: bold;
  &.highlighted + label {
    border-color: var(--dark-yellow) !important;
  }
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--grey);
  }
  &:checked + label {
    border: 3px solid var(--black);
  }
}
