.game-header {
  display: flex;
  width: 100%;
  height: 135px;
  padding-bottom: 20px;
  > div {
    flex: 1;
  }
}

.game-header_points {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 1;
  margin-left: 0.15em;
}

.game-header_new-points {
  opacity: 1;
  position: absolute;
  right: 0;
  transform: translateY(80px);
  animation: fade-out 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}

.sine-wave_group {
  animation: groupAnimation linear 2s infinite;
}

.microphone_group {
  animation: groupAnimation2 linear 1.2s infinite;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(80px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes groupAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500px);
  }
}

@keyframes groupAnimation2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}