.game-header {
  display: flex;
  width: 100%;
  height: 135px;
  padding-bottom: 20px;
  > div {
    width: 33.3%;
  }
  @media only screen and (max-width: 767px) {
    font-size: 12px;
  }
}

.game-header_points {
  font-family: "Poppins", sans-serif;
  font-size: 2.4em;
  line-height: 1;
  margin-left: 0.15em;
  @media only screen and (max-width: 767px) {
    font-size: 36px;
  }
}

.game-header_score {
  flex-grow: 1;
  align-items: flex-end;
}
.game-header_new-points {
  opacity: 1;
  position: absolute;
  right: 0;
  transform: translateY(80px);
  animation: fadeOut 1s ease-in-out 1s;
  animation-fill-mode: forwards;
  &--positive {
    color: var(--dark-green);
  }
}

.game-header_accuracy-label {
  font-size: 1.1em;
  color: var(--dark-green);
  font-weight: light;
  position: absolute;
  text-transform: uppercase;
  right: 0;
  transform: translateY(120px);
  animation: fadeOutText 1s ease-in-out 1.4s;
  animation-fill-mode: forwards;
}

.microphone-group {
  animation: fadeInOut linear 1.2s infinite;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(80px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes fadeOutText {
  0% {
    opacity: 1;
    transform: translateY(120px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(70px);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
