.page--game {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--light-green);
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    > .back-button {
      position: absolute;
      top: -30px;
      left: 0;
      @media only screen and (max-width: 767px) {
        top: -27px;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    padding: 5px;
    padding-top: 40px;
    padding-bottom: 20px;
    /* Ensure proper height on mobile to prevent overflow */
    height: calc(100vh - 65px);
    height: calc(100dvh - 65px); /* Use dynamic viewport height for mobile browsers */
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 30px;
  border: 3px solid var(--dark-black);
  overflow: overlay;
  flex-grow: 1;
  @media only screen and (max-width: 767px) {
    border-radius: 25px;
    border-width: 2px;
    padding: 20px;
  }
  /* Prevent overflow for game pages specifically */
  @media only screen and (max-width: 767px) {
    &:has(.singing),
    &:has(.listening-page) {
      overflow-y: hidden;
    }
  }
}

.back-button {
  display: flex !important;
  &:hover {
    text-decoration: none !important;
    span {
      transform: translateX(3px);
    }
  }
  span {
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--dark-black);
    margin-left: 0.3em;
    transition: transform 0.15s ease-in-out;
  }
}