.header {
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: all 0.3s ease;
  view-transition-name: static-header;

  &.scrolled {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .header-content {
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    a {
      height: 31px;
    }
  }

  .nav {
    display: flex;

    .nav-link {
      position: relative;
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: var(--black);
      background: none;
      border: none;
      padding: 8px;
      cursor: pointer;
      text-decoration: none;
      transition: color 0.3s ease;

      &.active {
        color: var(--dark-green);
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .header-content {
      padding: 0 0.5rem 0 0.3rem;
    }
  }
}

::view-transition-old(static-header),
::view-transition-new(static-header) {
  animation: none;
}
