.header {
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: all 0.3s ease;
  view-transition-name: static-header;

  &.scrolled {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .header-content {
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    a {
      height: 31px;
    }
  }

  .nav {
    display: flex;

    .nav-link {
      position: relative;
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: var(--black);
      background: none;
      border: none;
      padding: 8px 10px;
      cursor: pointer;
      text-decoration: none;
      transition: color 0.3s ease;

      &.active {
        &::before {
          content: "▶︎";
          position: absolute;
          opacity: 0;
          bottom: 0;
          font-size: 9px;
          left: 0;
          display: flex;
          height: 100%;
          align-items: center;
          animation: slideIn 0.3s ease-in-out 0.4s forwards;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(1px);
  }
}

@media (max-width: 768px) {
  .header {
    .header-content {
      padding: 0 0.5rem 0 0.3rem;
    }

    .nav {
      .nav-link {
        font-size: 0.8rem;
      }
    }
  }
}

::view-transition-old(static-header),
::view-transition-new(static-header) {
  animation: none;
}
