@use "sass:color";

.target {
  position: absolute;
  left: calc(50% - 30px);
  height: 100%;
  width: 60px;
  background: #DEDEDE;
  opacity: 0.75;
}

.pitch-visualization {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  &_pitch {
    background: #efefef;
    position: relative;
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    width: 100%;
    border-radius: 18px;
    overflow-x: hidden;
    @media only screen and (max-width: 767px) {
      border-radius: 12px;
    }
  }
  &_progress-bar-wrapper {
    background: color.adjust(#efefef, $lightness: -5%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 200px;
    overflow: hidden;
  }
  &_progress {
    position: relative;
  }
  &_progress-bar {
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: var(--black);
    transform: translateX(-200px);
    transition: transform 0.17s ease-in-out;
  }
  &_progress-bar-number {
    position: absolute;
    font-size: 11px;
    position: absolute;
    right: 0;
    bottom: 12px;
  }
}

.line {
  position: relative;
  width: 100%;
  height: 2px;
  background: var(--black);
  .pitch-indicator-wrapper {
    display: flex;
    position: absolute;
    left: calc(50% - 67px);
    top: -41px;
    transition: transform 0.1s linear;
  }
  .pitch-indicator {
    transform: scaleX(0) scaleY(0);
    transition: transform 0.1s linear;
    &--active {
      transition: transform 0.1s linear;
      transform: scaleX(1.3) scaleY(1.15);
    }
  }
}
