.home-content-wrapper {
  width: 1000px;
  height: 500px;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  h3 {
    margin: 0 0 5px;
    color: #111;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #111;
    font-weight: 300;
  }
  .home-content_block {
    margin: 0.5em;
    cursor: pointer;
    border-radius: 30px;
    border: 3px solid #111;
    background: #DAE2CB;
    overflow: hidden;
    position: relative;
    a {
      display: block;
      position: relative;
      z-index: 1;
      height: 100%;
    }
  }
}

.home-content_block {
  transition: box-shadow 0.5s ease-in-out;
  // box-shadow: 0 0 17px 0px rgba(0, 0, 0, .35);
  &:hover {
    // box-shadow: 0 0 20px 5px rgba(0, 0, 0, .3);
    // .home-content_block_inner {
    //   transform: scale(1.1);
    //   transition: all 0.5s ease-in-out;
    // }
  }
}
  
.home-content_block--big {
  grid-area: 1 / 1 / 3 / 2;
  transform-origin: top right;
  position: relative;
  .home-content_desc {
    color: var(--apricot);
  }
}

.home-content_block_inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 111%;
  // transition: all 0.7s ease-in-out;
  scale: 1;
}

.home-content_block--big {
  .home-content_block_inner {
    background-image: url("../../assets/images/cable.svg");
  }
}

.home-content_block--small-up {
  grid-area: 1 / 2 / 2 / 3;
  .home-content_block_inner {
    background-image: url("../../assets/images/mic.svg");
  }
}

.home-content_block--small-down {
  grid-area: 2 / 2 / 3 / 3;
  .home-content_block_inner {
    background-image: url("../../assets/images/headphones.svg");
  }
}

.home-content_desc {
  position: relative;
  z-index: 1;
  padding: 1em 1.5em;
  color: var(--apricot);
}