.home-content-wrapper {
  width: 1000px;
  height: 500px;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  h3 {
    margin: 0 0 5px;
    color: #111;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #111;
    font-weight: 300;
  }
  .home-content_block {
    margin: 0.5em;
    cursor: pointer;
    border-radius: 30px;
    border: 3px solid #111;
    background: #DAE2CB;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: lighten(#DAE2CB, 9%);
      svg {
        right: 12%;
      }
    }
    svg {
      transition: right 0.15s ease-in-out;
      position: absolute;
      right: 11%;
      bottom: -5%;
    }
    a {
      display: block;
      position: relative;
      z-index: 1;
      height: 100%;
    }
  }
}

.home-content_desc {
  position: relative;
  z-index: 1;
  padding: 1em 1.5em;
}
  
.home-content_block--big {
  grid-area: 1 / 1 / 3 / 2;
  transform-origin: top right;
  position: relative;
}

.home-content_block_inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 80% 111%;
  scale: 1;
}