.home-content-wrapper {
  width: 1000px;
  height: 500px;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  h3 {
    margin: 0 0 5px;
    color: #fff;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #fff;
  }
  .home-content_block {
    margin: 0.5em;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    a {
      display: block;
      position: relative;
      z-index: 1;
      height: 100%;
    }
  }
}

.home-content_block {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: 0 0 17px 0px rgba(0, 0, 0, .35);
  &:hover {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .3);
  }
}
  
.home-content_block--big {
  grid-area: 1 / 1 / 3 / 2;
  transform-origin: top right;
  position: relative;
  .home-content_desc {
    color: var(--apricot);
  }
  .home-content_block_inner {
    background-image: url("../../assets/images/singing.jpg");
  }
  &:hover {
    .home-content_block_inner {
      transform: scale(1.3);
      transition: all 3s ease-in-out;
    }
  }
}

.home-content_block_inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  transition: all 0.7s ease-in-out;
  scale: 1;
}

.home-content_block--small-up {
  grid-area: 1 / 2 / 2 / 3;
  .home-content_block_inner {
    background-image: url("../../assets/images/listening.jpg");
  }
  &:hover {
    .home-content_block_inner {
      transform: scale(1.3);
      transition: all 3s ease-in-out;
    }
  }
}

.home-content_block--small-down {
  background-color: #F67F7D;
  grid-area: 2 / 2 / 3 / 3;
}

.home-content_desc {
  padding: 1em;
  color: var(--apricot);
}