.page--start {
  text-align: left;
  background: hsla(81, 28%, 90%, 1);
  background: linear-gradient(0deg, hsla(81, 28%, 90%, 1) 0%, hsla(89, 39%, 40%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(81, 28%, 90%, 1) 0%, hsla(89, 39%, 40%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(81, 28%, 90%, 1) 0%, hsla(89, 39%, 40%, 1) 100%);
  &_content-wrapper {
    padding: 0 200px;
  }
  h1 {
    flex-shrink: 0;
  }
  input {
    font-size: 64px;
    margin-left: 14px;
    min-width: 0;
  }
  .button {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}