@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

:root {
  --grey: #CFDBD5;
  --grey-yellow: #e8eddf;
  --yellow: #F3C33F;
  --green: #678e3e;
  --dark-green:#517728;
  --dark-yellow: #F0B719;
  --black: #333533;
  --dark-black: #242423;
  --apricot: #EAAC8B;
  --pink: #E56B6F;
  --dark-pink: #B56576;
}

$tablet-bp: 768px;
$desktop-bp: 999px;

body {
  margin: 0;
  background-color: var(--grey-yellow);
  color: var(--black);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

#app {
  height: auto;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  &--home {
    background: hsla(81, 28%, 90%, 1);
    background: linear-gradient(180deg, hsla(81, 28%, 90%, 1) 18%, hsla(89, 39%, 40%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(81, 28%, 90%, 1) 18%, hsla(89, 39%, 40%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(81, 28%, 90%, 1) 18%, rgb(103, 142, 62) 100%);
  }
}

a {
  text-decoration: none;
}

strong {
  font-weight: 600;
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  transform-origin: center;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(.39,.47,.05,1.05);
  animation-direction: both;
}

::view-transition-old(root) {
  animation-name: slide-to-left;
}

::view-transition-new(root) {
  animation-name: slide-from-right;
}

.back-transition::view-transition-old(root) {
  animation-name: slide-to-right;
}

.back-transition::view-transition-new(root) {
  animation-name: slide-from-left;
}
